  .bg { 
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1590523741831-ab7e8b8f9c7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    
    /* Full height */
    height: 100% !important;
    
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    }

  h1{
      font-size: 1.2rem !important;
      line-height: 1.6rem !important;
  }

  p{
	font-size: 14px !important;
  margin-bottom: 0rem !important;
 }

 a:link { text-decoration: none; }